{% extends 'base.html' %}

{% block title %}
User Dashboard
{% endblock %}

{% block styles %}

{% endblock %}

{% block sidebar %}
{% include 'user/sidebar.html' %}
{% endblock %}


{% block content %}

<section class="section">
    
    <div class="row">
        
        {% comment %} {% for blog in blog_data %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card card-primary">
                    <img src="{{blog.thumbnail_img.url}}" style="padding:2px; border-radius:12px 12px 0px 0px;" class="card-img-top" alt="...">
                    
                    <div class="card-header">
                        <h4>{{blog.title}}</h4>
                    </div>
                    
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>

                    
                </div>
            </div>
        {% endfor %} {% endcomment %}

        {% for blog in blog_data %}
        <div class="col-12 col-md-6 col-lg-4">
            <a href="{% url "update-blog" blog.pk %}" style="text-decoration: none;">
                <div class="card">
                    <img class="card-img-top mobile_size" src="{{blog.thumbnail_img.url}}" style=" width:100%;height: 200px;border-radius: 10px 10px 0px 0px" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{blog.title|title|truncatechars:25}}</h5>
                    <p class="card-text">
                        <span>{{blog.content|safe|truncatechars_html:50}}</span>
                        <span style="float:right;">Edit-view</span>
                    </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}


    </div>   
    


</section>

{% endblock %}


{% block scripts %}

<style>
    @media only screen and (max-width: 767px) {

        .mobile_size{
            height:100% !important;
        }

      }
</style>


<!-- css and js for izitoast -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    {% for message in messages  %}
        // Deleted toast message from "delete-blog" - start
        {% if message.tags == 'delete_msg success' %}

                iziToast.success({
                    position: "topRight",
                    timeout: 5000, icon: 'ico-success', 
                    title: '"{{message}}" blog',
                    message: 'Deleted successfully'
                });
        
        {% endif %}
        // Deleted toast message from "delete-blog" - end

        // wrong_id toast message from "delete-blog" - start
        {% if message.tags == 'wrong_id error' %}

                iziToast.error({
                    position: "topRight",
                    timeout: 5000, icon: 'ico-error', 
                    title: '{{message}}',
                    {% comment %} message: '' {% endcomment %}
                });
        
        {% endif %}
        // wrong_id toast message from "delete-blog" - end
    {% endfor %}

</script>

{% endblock %}